@import "partial/reset.scss";
$imgItemWidth: 156px;
$imgsContainStartWidth: 236px;
body {
  background-image: url(../src/img/pattern.png);
}

.pane {
  width: $imgItemWidth;
  @media all and(min-width: $imgsContainStartWidth + $imgItemWidth) {
    width: $imgItemWidth*2;
  }
  @media all and(min-width: $imgsContainStartWidth + ($imgItemWidth*2)) {
    width: $imgItemWidth*3;
  }
  @media all and(min-width: $imgsContainStartWidth + ($imgItemWidth*3)) {
    width: $imgItemWidth*4;
  }
  @media all and(min-width: $imgsContainStartWidth + ($imgItemWidth*4)) {
    width: $imgItemWidth*5;
  }
  @media all and(min-width: $imgsContainStartWidth + ($imgItemWidth*5)) {
    width: $imgItemWidth*6;
  }
  @media all and(min-width: $imgsContainStartWidth + ($imgItemWidth*6)) {
    width: $imgItemWidth*7;
  }
}
.container-of-all {
  margin: 30px;
  position: relative;
}

.pane {
  font-size: 0;
  margin: 100px auto 0 auto;
  padding: 20px;
  border-radius: 9px;
  background-color: #101010;
  &__img {
    min-height: 90px;
    // cursor: url(../src/img/cursors/zoom32.png), pointer;
    cursor: zoom-in;
    &-wrap {
      display: inline-block;
      width: 150px;
      height: 90px;
      overflow: hidden;
      margin: 3px;
    }
  }
}

.fixed-img {
  opacity: 1;
  position: relative;
  z-index: 999;
  // cursor: url(../src/img/cursors/next32.png), pointer;
  cursor: pointer;
  &-wrap {
    font-size: 0;
    display: none;
  }
  &-back {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // cursor: url(../src/img/cursors/close64.png), pointer;
    cursor: zoom-out;
    background-image: url(../src/img/pattern.png);
    opacity: .9;
    // transition: linear .1s;
    &:hover {
      opacity: .7;
    }
  }
}