@import "partial/reset.scss";
// $imgItemWidth: 156px;
// $imgsWrapStartWidth: 236px;
html,
body,
.container-of-all,
.pane {
  height: 100%;
}

.container-of-all {
  padding: 30px 0;
}

.pane {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  &__img {
    width: 100%;
    background: no-repeat;
    background-size: cover;
    transition: box-shadow 0.2s linear;
    position: absolute;
    &:hover {
      box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, .6)
    }
    &-outside {
      box-sizing: border-box;
      padding-bottom: 56.26%;
      position: relative;
    }
    &-wrap {
      flex-basis: 100%;
      margin: 7px;
      @media all and(min-width: 768px) {
        flex-basis: 47%;
      }
      @media all and(min-width: 1200px) {
        flex-basis: 32%;
      }
      @media all and(min-width: 1700px) {
        flex-basis: 489px;
      }
    }
  }
}

.zoom__img {
  &-item {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
  }
  &-back {
    margin: 0 auto;
    font-size: 0;
    max-width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    overflow: hidden;
    // cursor: zoom-out;
  }
  &-wrap {
    // display: none;
    opacity: 0;
    font-size: 0;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
  } // &-wrap-in {
  //   font-size: 0;
  //   top: 0;
  //   left: 0;
  // }
}